    body {
        margin: 0;
        font-family: Lato, "Inter", Arial, sans-serif;

        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        color: #fff;
    }

    .display-container {
        display: flex;
        flex-direction: row;
        background-color: #ff5f5f;
        width: 375px;
        height: 812px;
        border: 1px solid #000;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        box-sizing: border-box;
        text-align: center;
    }

    .logo {
        width: 85px;
        margin: auto;
        height: 85px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }

    .heart {
        width: 100px;
        height: 100px;
        animation: pulse 1.2s ease-in-out infinite;
        transform-origin: center;
    }

    @keyframes pulse {

        0%,
        100% {
            transform: scale(1);
            opacity: 1;
        }

        50% {
            transform: scale(1.2);
            opacity: 0.9;
        }
    }

    .title {
        font-family: Luckiest Guy;
        font-size: 50px;
        letter-spacing: 3px;
        margin-top: 10px;
        margin-bottom: 60px;
    }

    .switch-buttons {
        display: flex;
        justify-content: center;
        gap: 12px;
        margin-bottom: 20px;
    }

    .switch-buttons button {
        flex: 1;

        border: none;
        border-radius: 5px;
        font-weight: 600;
        font-size: 14px;
        cursor: pointer;
    }

    .login-btn,
    .register-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 130px;
        height: 30px;
        font-size: 12px;
        font-weight: 900;
        line-height: 14px;
        letter-spacing: 1px;
        transition: all 0.3s ease;
    }

    .login-btn {
        background-color: rgba(255, 255, 255, 0.1);
        color: #fff;
    }

    .login-btn:hover {
        background-color: rgba(255, 255, 255, 0.2);
    }

    .register-btn {
        background-color: #fff;
        color: #ff5f5f;
    }

    .register-btn:hover {
        background-color: #ffdbdb;
    }

    .input-field {
        font-family: Lato;
        color: #333;
        width: 260px;
        margin: auto;
        background-color: #fff;
        border: none;
        border-radius: 6px;
        margin-bottom: 10px;
        padding: 16px 10px;
        font-size: 15px;
        letter-spacing: 3px;
        color: #333;
        text-align: center;
        gap: 10;
    }

    input::placeholder {
        color: #32323c;
        opacity: 1;
    }

    .input-field:focus {
        outline: none;
        background-color: #fff5f5;
        box-shadow: 0 0 10px rgba(255, 95, 95, 0.3);

    }

    .forgot {
        margin-top: 14px;
        justify-content: right;
        font-size: 10px;
        color: hsl(0, 0%, 100%);
        text-decoration: none;
        text-align: right;
    }

    .register-main {
        margin-top: 20px;
        width: 100%;
        height: 46px;
        background-color: #fff;
        color: #ff5f5f;
        font-weight: 700;
        font-size: 15px;
        border: none;
        border-radius: 5px;
        padding: 16px 10px;
        cursor: pointer;

        letter-spacing: 1px;
    }

    .register-main:hover {
        background-color: #ffdbdb;

    }

    .register-main::after {
        content: "REGISTER";
    }

    .register-main:hover::after {
        content: "❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️";
        font-size: 12px;
    }

    .footer-text {
        margin-top: 20px;
        font-size: 10px;
        color: #fff;
    }

    .footer-text span {
        font-weight: 900;
        cursor: pointer;
    }

    .logo-container {
        margin: 12.6%;
        margin-top: 120px;
    }

    .registration-login-container {
        width: 280px;
    }

    a {

        color: #fff;
        text-decoration: none;
    }